# SkyWalker EAS Advanced Configuration by RyuujiX @2021
# It's not Spectrum script :)

# Initialization
on property:sys.boot_completed=1
	# Enable Force Fast Charge Feature by default
	write /sys/kernel/fast_charge/force_fast_charge 1
	# chmod
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/*
    chmod 0644 /sys/block/mmcblk0/queue/*
    # chown
    chown system system /sys/devices/system/cpu/cpufreq/policy0/*
    chown system system /sys/devices/system/cpu/cpufreq/policy4/*
    chown system system /sys/block/mmcblk0/queue/*

on property:sys.post_boot.parsed=1
    # do chmod & chown again
    # chmod
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/*
    chmod 0644 /sys/block/mmcblk0/queue/*
    # chown
    chown system system /sys/devices/system/cpu/cpufreq/policy0/*
    chown system system /sys/devices/system/cpu/cpufreq/policy4/*
    chown system system /sys/block/mmcblk0/queue/*
    setprop vendor.post_boot.parsed 1
	
# Configure Start
on property:vendor.post_boot.parsed=1
	# set all stune boost
    write /dev/stune/schedtune.boost 0
    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/rt/schedtune.boost 0
    write /dev/stune/top-app/schedtune.boost 0
	# Enable Force Fast Charge Feature by default
	write /sys/kernel/fast_charge/force_fast_charge 1
    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor alucardsched
    restorecon -R /sys/devices/system/cpu ## must restore after alucardsched
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq "633600"
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq "1843200"
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq "633600"
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq "1843200"
	## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor alucardsched
    restorecon -R /sys/devices/system/cpu ## must restore after alucardsched
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq "633600"
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq "2208000"
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq "633600"
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq "2208000"
    ## GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 585000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 585
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160